.required:after {
  content: " *";
  color: red;
}

.active {
  border-color: red;
  color: white;
}

.custom-select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url(assets/icos/arrow-down.png) no-repeat;
  background-position: right 0.75rem center;
  background-size: 1.5em;
  border: 2px solid #b3b3b3;
  border-radius: 0.375em;
  padding: 0.5em 3em 0.5em 1em;
  font-size: 1rem;
  color: #1a1a1a;
}

.custom-date input[type="date"] {
  appearance: none;
  -webkit-appearance: none;
  /* Chrome, Safari, newer versions of Opera */
  -moz-appearance: none;
  /* Firefox */
  background: url(assets/icos/) no-repeat right 0.75rem center;
  background-size: 1.5em;
  border: 2px solid #b3b3b3;
  border-radius: 0.375em;
  padding: 0.5em 3em 0.5em 1em;
  /* Right padding to avoid overlap with the icon */
  font-size: 1rem;
  color: #1a1a1a;
  cursor: pointer;
  width: 100%;
}

.custom-date input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  /* This works for Chrome and Safari */
}

.custom-date input[type="date"]::-webkit-inner-spin-button,
.custom-date input[type="date"]::-webkit-clear-button {
  display: none;
  /* Removes inner spin buttons in WebKit browsers */
}

.smooth-scroll {
  overflow-y: hidden;
  transition: opacity 0.3s ease-in-out;
  height: 15rem;
  /* Set to your required height */
}

.smooth-scroll:hover {
  overflow-y: auto;
  opacity: 1;
}

.custom-select2 {
  border: none;
  border-bottom: 1px solid #7f7f7f;
  width: 200px;
  color: black;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url(assets/icos/downFill.png) no-repeat;
  background-position: right 0.75rem center;
  padding: 2px 10px;
  font-size: 18px;
  outline: none;
}

.custom-select3 {
  border: 1px solid #7f7f7f;
  width: 200px;
  color: black;
  padding: 2px 10px;
  border-radius: 5px;
  font-size: 18px;
  outline: none;
}